# =======================
# WordPress Core
# =======================
/wp-admin/
/wp-includes/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/index.php
/license.txt
/readme.html
/wp-*.php
wp-config.php
/xmlrpc.php
/wp-content/uploads/
*.log
/.htaccess

# =======================
# Node / Dev Tools
# =======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/css/*.map

# Sass cache
.sass-cache/
*.css.map

# =======================
# OS / Editor
# =======================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# =======================
# Environment files
# =======================
.env
.env.*
